<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battleground.prototype.mapper.ArticleMapper">

  <resultMap id="articleResultMap" type="com.battleground.prototype.model.Article">
    <result property="id" column="id"/>
    <result property="reg_date" column="reg_date"/>
    <result property="writer" column="writer"/>
    <result property="click_count" column="click_count"/>
    <result property="coment_count" column="coment_count"/>
    <result property="title" column="title"/>
    <result property="body" column="body"/>
    <result property="no" column="no"/>
    <result property="writer_id" column="writer_id"/>
    <result property="location1" column="location1"/>
    <result property="location2" column="location2"/>
    <result property="img1" column="img1"/>
    <result property="img2" column="img2"/>
    <result property="like_count" column="like_count"/>
    <result property="dislike_count" column="dislike_count"/>
  </resultMap>

  <select id="getArticleTitles" parameterType="map" resultMap="articleResultMap">
    <![CDATA[
    select
      id,
      title,
      writer,
      reg_date,
      click_count
    from articles
    where location1 = #{location1} and location2 = #{location2} and valid = 'Y'
    order by id desc
    ]]>
  </select>

  <select id="getArticle" parameterType="map" resultMap="articleResultMap">
    <![CDATA[
    select
      id,
      title,
      writer,
      reg_date,
      click_count,

    from articles
    where id = #{a_id} and valid = 'Y'
    ]]>
  </select>

  <update id="addClickCount" parameterType="map">
    update articles
    set click_count = click_count+1
    where  id= #{a_id}
  </update>

  <insert id="insertArticle" parameterType="hashmap">
    <![CDATA[
        INSERT INTO articles
        (
            reg_date,
            writer,
            title,
            body,
            writer_id,
            location1,
            location2
        )
        VALUES
        (
            now(),
            #{writer},
            #{title},
            #{body},
            #{writer_id},
            #{location1},
            #{location2}
        )
    ]]>
</insert>

</mapper>