<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.battleground.prototype.mapper.CommentMapper">

  <resultMap id="commentResultMap" type="com.battleground.prototype.model.Comment">
    <result property="a_id" column="a_id"/>
    <result property="reg_date" column="reg_date"/>
    <result property="writer_id" column="writer_id"/>
    <result property="writer_name" column="writer_name"/>
    <result property="copy" column="copy"/>
    <result property="like_count" column="like_count"/>
    <result property="dislike_count" column="dislike_count"/>
  </resultMap>

  <select id="getComments" parameterType="map" resultMap="commentResultMap">
    <![CDATA[
    select
      a_id,
      reg_date,
      writer_name,
      copy,
      like_count,
      dislike_count
    from comments
    where a_id = #{a_id}
    ]]>
  </select>

  <insert id="insertComment" parameterType="hashmap">
    <![CDATA[
        INSERT INTO comments
        (
            reg_date,
            writer_name,
            writer_id,
            copy,
            a_id
        )
        VALUES
        (
            now(),
            #{writer},
            #{writer_id},
            #{copy},
            #{a_id}
        )
    ]]>
  </insert>
</mapper>